@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100%;
    padding: 2rem;
    position: relative;
    overflow: hidden;
}

.menu {
    position: fixed;
    z-index: 1000;
    width: 150px;
    background: #1b1a1a;
    border-radius: 5px;
    display: none;
    list-style: none;
    transition: all .3s ease;
}

.menu.open {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 10px;
    position: absolute;
    gap: 5px;
    min-width: 200px;
    max-width: 100%;
}

.menu .menu-item {
    padding: 8px 10px;
    font-size: 1rem;
    color: #eee;
    cursor: pointer;
    transition: all .3s ease-in;
    border-radius: inherit;
    border: 1px solid transparent;
    border-bottom: 1px solid #fff;
}

.menu .menu-item:hover {
    background: #fff;
    border: 1px solid #fff;
    color: black;
}

.container-count {
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

.container-timer {
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

.timer-value-block {
    width: 200px;
    min-height: 100px;
    background: #ababab;
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input#number {
    outline: none;
    height: 30px;
    font-size: 20px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid gray;
}

input[type="submit"] {
    margin-left: 20px;
    padding: 4px;
    background: #53ef62;
    border: 1px solid #44924c;
    border-radius: 3px;
    background: #fff;
    border: 1px solid #fff;
    color: black;
}

/* Message module */

.message-container {
    position: absolute;
    top: 40px;
    left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 250px;
    min-height: 20px;
    border-radius: 5px;
    background-color: #1b1a1a;
    cursor: default;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.message-container:hover {
    outline: 1px solid #1b1a1a;
    color: #1b1a1a;
    background-color: #eee;
    transform: scale(1.1) translate(8px);
}

.message-text {
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 8px 10px;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #eee;
    transition: color 0.2s ease-in-out;
}

.message-container:hover .message-text {
    color: #1b1a1a;
}